.card
    max-width: 500px
    -webkit-box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.2)
    -moz-box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.2)
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.2)
    border-radius: 25px
    background-color: $color-card
    padding: 2.5rem
    font-size: 1.6rem

    > .image
        margin-bottom: 2.5rem
        position: relative
        overflow: hidden
        cursor: pointer

        > img
            display: block
            max-width: 100%
            width: 100%
            border-radius: 15px

        > .overlay
            background-color: $color-highlight-background
            position: absolute
            inset: 0
            border-radius: 15px
            display: flex
            justify-content: center
            align-items: center
            opacity: 0
            transition: opacity 200ms ease-in-out

        &:hover
            > .overlay
                opacity: 1


    > .title
        display: inline-block
        color: $color-heading
        font-weight: 700
        font-size: 2.2rem
        padding-bottom: 1.5rem
        transition: color 200ms ease-in-out

        &:hover
            color: $color-highlight

    > .text
        font-weight: 300
        line-height: 2.5rem
        padding-bottom: 2rem

    > .info
        display: flex
        justify-content: space-between
        font-size: 1.5rem
        padding-bottom: 1.5rem
        border-bottom: 2px $color-line solid
        margin-bottom: 2rem

        > *
            display: flex
            align-items: center
            gap: 0.75rem

            > img
                height: 2rem

        > .price
            font-weight: 700
            color: $color-highlight

    > .creator
        display: flex
        justify-content: start
        align-items: center
        gap: 1.5rem

        > img
            height: 3rem
            border: 2px $color-heading solid
            border-radius: 50%

a
    color: $color-heading
    text-decoration: none
    transition: color 200ms ease-in-out

    &:hover,
    &:focus-visible
            color: $color-highlight